.calculator-container {
  background-color: rgba(242, 242, 242, 0.5);
  padding: 92px 20px 126px;
  position: relative;

  .calculator-image-top {
    position: absolute;
    right:0;
    top: 0;
    width: 170px;

    @media (max-width: 991px) {
      display: none;
    }

    @media (min-width: 1300px) {
     width: auto;
    }
  }

  .calculator-image-bottom {
    position: absolute;
    left:0;
    bottom: 0;
    width: 120px;

    @media (max-width: 1199px) {
      display: none;
    }

    @media (min-width: 1300px) {
      width: auto;
    }
  }

  .top {
    h2 {
      @include heading2();
      font-weight: bold;
      font-family: $lucia;
      line-height: 1.36;
      letter-spacing: normal;
    }

    .description {
      text-align: center;
      max-width: 460px;
      font-family: $roboto;
      font-size: 18px;
      line-height: 1.56;
      color: #9b9b9b;
      margin: 30px auto 0;
    }
  }

  .calculator {
    max-width: 1000px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    margin: 60px auto 0;
    box-sizing: border-box;

    @media (min-width: 1300px) {
      max-width: 1140px;
    }

    .inner {
      display: flex;
      justify-content: space-between;
      background-color: #ffffff;
      padding: 40px 20px 50px;

      @media (max-width: 767px) {
        flex-direction: column;
      }

      .left, .right {
        width: 45%;

        @media (min-width: 768px) and (max-width: 991px) {
          width: 47%;
        }

        @media (max-width: 767px) {
          width: 100%;
        }
      }

      .right {
        .slider {
          @media (max-width: 767px) {
            margin-top: 50px;
          }
        }
      }

      h4 {
        font-family: $lucia;
        margin: 0;
        font-size: 24px;
        color: #1b1b1b;
        font-weight: bold;
      }

      h3 {
        font-family: $lucia;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: -2px;
        text-align: right;
        color: #1b1b1b;
        margin: 0;
      }

      .slider {
        .container {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &:last-child {
          margin-top: 50px;
        }

        .rc-slider {
          margin-top: 20px;
        }
      }

      .gym-calendar {
        margin-top: 50px;

        .gym-labels {
          margin-top: 31px;
          border-radius: 21px;
          background-color: rgba(234,234,234, 0.5);
          height: 42px;;
          position: relative;
          box-sizing: border-box;
          max-width: 485px;
          width: 100%;
          display: flex;
          align-items: center;

          @media (max-width: 767px) {
            max-width: 322px;
          }

          .label {
            font-family: $roboto;
            font-size: 16px;
            color: #9b9b9b;
            cursor: pointer;

            @media (max-width: 991px) {
              font-size: 14px;
            }

            @media (max-width: 480px) {
              font-size: 13px;
            }

            &:first-child {
              &:not(.active) {
                margin-left: 20px;

                @media (max-width: 991px) {
                  margin-left: 10px;
                }
              }
            }

            &:last-child {
              &:not(.active) {
                margin-right: 20px;
              }

              &.active {
                padding: 11px 35px;

                @media (max-width: 991px) {
                  padding: 13px 27px;
                }

                @media (max-width: 480px) {
                  padding: 13px 33px;
                }
              }
            }

            &:not(:last-child) {
              margin-right: 27px;

              @media (max-width: 991px) {
                margin-right: 10px;
              }
            }

            &.active {
              border-radius: 21px;
              background-color: #78379d;
              color: #fff;
              padding: 11px 24px;

              @media (max-width: 991px) {
                padding: 13px 16px;
              }
            }
          }
        }
      }
    }

    .results {
      padding: 16px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        h4 {
          font-family: $lucia;
          font-size: 24px;
          font-weight: normal;
          line-height: 2;
          letter-spacing: -0.7px;
          color: #1b1b1b;
          margin: 0;

          @media (max-width: 550px) {
            font-size: 18px;
          }

          strong {
            font-family: $monserat;
            font-size: 36px;
            font-weight: 600;
            line-height: 1.33;
            letter-spacing: -2px;

            @media (max-width: 550px) {
              font-size: 20px;
            }
          }
        }

        p {
          font-family: $roboto;
          font-size: 16px;
          font-weight: normal;
          letter-spacing: -0.4px;
          color: #9b9b9b;
          margin: 10px 0 0;

          @media (max-width: 550px) {
            font-size: 14px;
          }
        }
      }

      button {
        border-radius: 6px;
        background-color: #40be65;
        border: none;
        color: #ffffff;
        padding: 14px 36.23px;
        outline: none;
        cursor: pointer;

        &:active {
          background-color: #3e8e41;
          transform: translateY(1px);
        }

        &:hover {
          background-color: #3e8e41;
        }

        @media (max-width: 550px) {
          padding: 14px 20px;
        }
      }
    }
  }
}