body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

@font-face {
  font-family: 'Lucida Grande';
  src: url("../fonts/LucidaGrande.eot");
  src: url("../fonts/LucidaGrande.eot?#iefix") format("embedded-opentype"), url("../fonts/LucidaGrande.woff2") format("woff2"), url("../fonts/LucidaGrande.woff") format("woff"), url("../fonts/LucidaGrande.ttf") format("truetype"), url("../fonts/LucidaGrande.svg#LucidaGrande") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lucida Grande';
  src: url("../fonts/LucidaGrande-Bold.eot");
  src: url("../fonts/LucidaGrande-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/LucidaGrande-Bold.woff2") format("woff2"), url("../fonts/LucidaGrande-Bold.woff") format("woff"), url("../fonts/LucidaGrande-Bold.ttf") format("truetype"), url("../fonts/LucidaGrande-Bold.svg#LucidaGrande-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

.divider {
  max-width: 165px;
  width: 100%;
  height: 4px;
  background-color: #40be65;
  border: none;
  margin: 17px auto 0; }

.rc-slider-handle:active:active, .rc-slider-handle:active:focus {
  box-shadow: 0 0 0 15px rgba(163, 104, 197, 0.3) !important; }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }

.header .top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; }

.header .top .container {
      max-width: 1680px;
      margin: 0 auto;
      padding: 25px;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
              align-items: center; }

.header .top .container .logo img {
        width: 107px; }

.header .top .container .menu {
        width: 61%; }

@media (max-width: 1000px) {
          .header .top .container .menu {
            width: 90%; } }

.header .top .container .menu ul {
          display: -webkit-box;
          display: flex;
          -webkit-box-align: center;
                  align-items: center;
          box-sizing: border-box;
          -webkit-box-pack: end;
                  justify-content: flex-end;
          list-style: none;
          margin: 0;
          padding: 0; }

.header .top .container .menu ul .menu-item:not(:last-child) {
            margin-right: 64px; }

.header .top .container .menu ul .menu-item a {
            color: #fff;
            text-decoration: none;
            font-size: 20px;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal; }

.header .top .container .menu-placeholder {
        width: 30%; }

@media (max-width: 1000px) {
          .header .top .container .menu-placeholder {
            width: 0; } }

.header .top .container .mobile-menu {
        height: 100vh; }

.header .top .container .mobile-menu .mobile-menu-sidebar {
          width: 300px; }

.header .top .container .mobile-menu .mobile-menu-button {
          float: right;
          outline: none;
          padding: 25px; }

.header .top .container .mobile-menu .mobile-menu-button .hamburger-inner {
            background-color: #fff; }

.header .top .container .mobile-menu .mobile-menu-button .hamburger-inner:before, .header .top .container .mobile-menu .mobile-menu-button .hamburger-inner:after {
              background-color: #fff; }

.header .top .container .mobile-menu .mobile-menu-items {
          padding: 10px 8%; }

.header .top .container .mobile-menu .mobile-menu-items a {
            display: block;
            color: rgba(0, 0, 0, 0.65);
            text-decoration: none;
            font-size: 16px;
            font-family: "Roboto", sans-serif;
            line-height: 64px; }

.header .background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.75; }

.header .background .overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #1b1b1b;
      opacity: 0.5;
      z-index: 1; }

.header .background img {
      position: absolute;
      width: 100%;
      height: 105%;
      top: 0;
      left: 0;
      object-fit: cover; }

.header .inner {
    position: relative;
    width: 69vw;
    max-width: 1000px;
    margin: 0 auto 50px;
    padding: 0 24px;
    box-sizing: border-box;
    z-index: 1;
    color: #fff;
    text-align: center; }

@media (max-width: 768px) {
      .header .inner {
        width: 100%; } }

.header .inner h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.31;
      letter-spacing: 2px; }

.header .inner h1 {
      font-family: "Lucida Grande", sans-serif;
      font-size: 72px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: -1px; }

@media (max-width: 768px) {
        .header .inner h1 {
          font-size: 40px; } }

.header .inner h3 {
      font-family: "Roboto", sans-serif;
      opacity: 0.8;
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.55;
      letter-spacing: -0.2px;
      max-width: 600px;
      margin: 0 auto; }

@media (max-width: 768px) {
        .header .inner h3 {
          font-size: 18px; } }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger.is-active:hover {
  opacity: 0.7; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

/*
   * Squeeze
   */

.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease; }

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease; }

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.how-it-works {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px; }

.how-it-works .top {
    text-align: center; }

.how-it-works .top h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 36px;
      font-weight: 600;
      letter-spacing: -2px;
      text-align: center;
      color: #1b1b1b;
      margin: 0; }

@media (max-width: 767px) {
        .how-it-works .top h2 {
          font-size: 24px; } }

.how-it-works .inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-top: 70px; }

@media (max-width: 767px) {
      .how-it-works .inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }

.how-it-works .inner .how-it-works-item {
      max-width: 390px;
      width: 100%;
      display: -webkit-box;
      display: flex;
      align-self: flex-start;
      -webkit-box-pack: justify;
              justify-content: space-between; }

@media (max-width: 767px) {
        .how-it-works .inner .how-it-works-item {
          max-width: 100%;
          width: auto; }
          .how-it-works .inner .how-it-works-item:not(:last-child) {
            margin-bottom: 20px; } }

.how-it-works .inner .how-it-works-item .left {
        margin-right: 30px;
        margin-top: -50px; }

@media (max-width: 991px) {
          .how-it-works .inner .how-it-works-item .left {
            margin-right: 20px;
            margin-top: -20px; } }

.how-it-works .inner .how-it-works-item .left .number {
          font-family: 'Montserrat', sans-serif;
          opacity: 0.2;
          font-size: 136px;
          font-weight: bold;
          letter-spacing: normal;
          text-align: center; }

@media (max-width: 991px) {
            .how-it-works .inner .how-it-works-item .left .number {
              font-size: 70px; } }

.how-it-works .inner .how-it-works-item .left .custom-icon {
          font-size: 35px;
          vertical-align: 0.5em;
          margin-left: -20px; }

@media (max-width: 991px) {
            .how-it-works .inner .how-it-works-item .left .custom-icon {
              font-size: 20px;
              margin-left: 0; } }

.how-it-works .inner .how-it-works-item .right h3 {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1.71;
        letter-spacing: 2px;
        color: #1b1b1b; }

.how-it-works .inner .how-it-works-item .right p {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        line-height: 1.5;
        color: #9b9b9b; }

.how-it-works .inner .how-it-works-item.first .left .number {
        color: #2c99ed; }

@media (max-width: 767px) {
        .how-it-works .inner .how-it-works-item.first .right {
          margin-left: 20px; } }

.how-it-works .inner .how-it-works-item.second .left .number {
        color: #78379d; }

.how-it-works .inner .how-it-works-item.third .left .number {
        color: #edc054; }

.calculator-container {
  background-color: rgba(242, 242, 242, 0.5);
  padding: 92px 20px 100px;
  position: relative; }

.calculator-container .calculator-image-top {
    position: absolute;
    right: 0;
    top: 0;
    width: 170px; }

@media (max-width: 991px) {
      .calculator-container .calculator-image-top {
        display: none; } }

@media (min-width: 1300px) {
      .calculator-container .calculator-image-top {
        width: auto; } }

.calculator-container .calculator-image-bottom {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 120px; }

@media (max-width: 1199px) {
      .calculator-container .calculator-image-bottom {
        display: none; } }

@media (min-width: 1300px) {
      .calculator-container .calculator-image-bottom {
        width: auto; } }

.calculator-container .top h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    color: #1b1b1b;
    margin: 0;
    font-weight: bold;
    font-family: "Lucida Grande", sans-serif;
    line-height: 1.36;
    letter-spacing: normal; }

@media (max-width: 767px) {
      .calculator-container .top h2 {
        font-size: 24px; } }

.calculator-container .top .description {
    text-align: center;
    max-width: 460px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.56;
    color: #9b9b9b;
    margin: 30px auto 0; }

.calculator-container .calculator {
    max-width: 1000px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    margin: 60px auto 0;
    box-sizing: border-box; }

@media (min-width: 1300px) {
      .calculator-container .calculator {
        max-width: 1140px; } }

.calculator-container .calculator .inner {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      background-color: #ffffff;
      padding: 40px 15px 50px; }

@media (max-width: 767px) {
        .calculator-container .calculator .inner {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
                  flex-direction: column; } }

.calculator-container .calculator .inner .left, .calculator-container .calculator .inner .right {
        width: 45%; }

@media (min-width: 768px) and (max-width: 991px) {
          .calculator-container .calculator .inner .left, .calculator-container .calculator .inner .right {
            width: 47%; } }

@media (max-width: 767px) {
          .calculator-container .calculator .inner .left, .calculator-container .calculator .inner .right {
            width: 100%; } }

@media (max-width: 767px) {
        .calculator-container .calculator .inner .right .slider {
          margin-top: 50px; } }

.calculator-container .calculator .inner h4 {
        font-family: "Lucida Grande", sans-serif;
        margin: 0;
        font-size: 24px;
        color: #1b1b1b;
        font-weight: bold; }

.calculator-container .calculator .inner h3 {
        font-family: "Lucida Grande", sans-serif;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: -2px;
        text-align: right;
        color: #1b1b1b;
        margin: 0; }

.calculator-container .calculator .inner .slider .container {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
                align-items: center; }

.calculator-container .calculator .inner .slider:last-child {
        margin-top: 50px; }

.calculator-container .calculator .inner .slider .rc-slider {
        margin-top: 20px; }

.calculator-container .calculator .inner .gym-calendar {
        margin-top: 50px; }

.calculator-container .calculator .inner .gym-calendar .gym-labels {
          margin-top: 31px;
          border-radius: 21px;
          background-color: rgba(234, 234, 234, 0.5);
          height: 42px;
          position: relative;
          box-sizing: border-box;
          max-width: 485px;
          width: 100%;
          display: -webkit-box;
          display: flex;
          -webkit-box-align: center;
                  align-items: center; }

@media (max-width: 767px) {
            .calculator-container .calculator .inner .gym-calendar .gym-labels {
              max-width: 322px; } }

.calculator-container .calculator .inner .gym-calendar .gym-labels .label {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            color: #9b9b9b;
            cursor: pointer; }

@media (max-width: 991px) {
              .calculator-container .calculator .inner .gym-calendar .gym-labels .label {
                font-size: 14px; } }

@media (max-width: 480px) {
              .calculator-container .calculator .inner .gym-calendar .gym-labels .label {
                font-size: 12px; } }

.calculator-container .calculator .inner .gym-calendar .gym-labels .label:first-child:not(.active) {
              margin-left: 20px; }

@media (max-width: 991px) {
                .calculator-container .calculator .inner .gym-calendar .gym-labels .label:first-child:not(.active) {
                  margin-left: 10px; } }

.calculator-container .calculator .inner .gym-calendar .gym-labels .label:last-child:not(.active) {
              margin-right: 20px; }

.calculator-container .calculator .inner .gym-calendar .gym-labels .label:last-child.active {
              padding: 11px 35px; }

@media (max-width: 991px) {
                .calculator-container .calculator .inner .gym-calendar .gym-labels .label:last-child.active {
                  padding: 13px 27px; } }

@media (max-width: 480px) {
                .calculator-container .calculator .inner .gym-calendar .gym-labels .label:last-child.active {
                  padding: 13px 33px; } }

.calculator-container .calculator .inner .gym-calendar .gym-labels .label:not(:last-child) {
              margin-right: 27px; }

@media (max-width: 991px) {
                .calculator-container .calculator .inner .gym-calendar .gym-labels .label:not(:last-child) {
                  margin-right: 10px; } }

.calculator-container .calculator .inner .gym-calendar .gym-labels .label.active {
              border-radius: 21px;
              background-color: #78379d;
              color: #fff;
              padding: 11px 24px; }

@media (max-width: 991px) {
                .calculator-container .calculator .inner .gym-calendar .gym-labels .label.active {
                  padding: 13px 16px; } }

.calculator-container .calculator .results {
      padding: 16px 20px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: justify;
              justify-content: space-between; }

.calculator-container .calculator .results .left h4 {
        font-family: "Lucida Grande", sans-serif;
        font-size: 24px;
        font-weight: normal;
        line-height: 2;
        letter-spacing: -0.7px;
        color: #1b1b1b;
        margin: 0; }

@media (max-width: 550px) {
          .calculator-container .calculator .results .left h4 {
            font-size: 18px; } }

.calculator-container .calculator .results .left h4 strong {
          font-family: "Montserrat", sans-serif;
          font-size: 36px;
          font-weight: 600;
          line-height: 1.33;
          letter-spacing: -2px; }

@media (max-width: 550px) {
            .calculator-container .calculator .results .left h4 strong {
              font-size: 20px; } }

.calculator-container .calculator .results .left p {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: -0.4px;
        color: #9b9b9b;
        margin: 10px 0 0; }

@media (max-width: 550px) {
          .calculator-container .calculator .results .left p {
            font-size: 14px; } }

.calculator-container .calculator .results button {
        border-radius: 6px;
        background-color: #40be65;
        border: none;
        color: #ffffff;
        outline: none;
        cursor: pointer;
        padding: 14px 36.23px; }

.calculator-container .calculator .results button:active {
          background-color: #3e8e41;
          -webkit-transform: translateY(1px);
                  transform: translateY(1px); }

.calculator-container .calculator .results button:hover {
          background-color: #3e8e41; }

@media (max-width: 550px) {
          .calculator-container .calculator .results button {
            padding: 14px 20px; } }

.reforma-box {
  padding-top: 40px;
  padding-bottom: 70px; }

.reforma-box .top h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    color: #1b1b1b;
    margin: 0;
    font-family: "Lucida Grande", sans-serif;
    font-weight: bold;
    line-height: 1.36;
    letter-spacing: normal; }

@media (max-width: 767px) {
      .reforma-box .top h2 {
        font-size: 24px; } }

.reforma-box .top .description {
    text-align: center;
    max-width: 460px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.56;
    color: #9b9b9b;
    margin: 30px auto 0; }

.reforma-box .inner {
    display: -webkit-box;
    display: flex;
    padding: 0 15px;
    -webkit-box-pack: justify;
            justify-content: space-between;
    max-width: 1400px;
    margin: 33px auto 0; }

@media (max-width: 991px) {
      .reforma-box .inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }

.reforma-box .inner .left {
      margin-right: 38px; }

@media (max-width: 991px) {
        .reforma-box .inner .left {
          margin-right: 0; } }

.reforma-box .inner .left .reform-desc {
        text-align: right; }

.reforma-box .inner .left .reform-desc.top {
          margin-top: 30px; }

.reforma-box .inner .left .reform-desc.bottom {
          margin-top: 50px; }

@media (max-width: 991px) {
      .reforma-box .inner .center {
        overflow: hidden;
        margin: 40px auto 0; } }

.reforma-box .inner .right {
      margin-left: 33px; }

@media (max-width: 991px) {
        .reforma-box .inner .right {
          margin-left: 0; } }

.reforma-box .inner .right .reform-desc.top {
        margin-top: 50px; }

.reforma-box .inner .right .reform-desc.bottom {
        margin-top: 50px; }

@media (max-width: 991px) {
      .reforma-box .inner .reform-desc {
        text-align: center !important;
        max-width: 450px;
        margin: 0 auto; } }

.reforma-box .inner .reform-desc h4 {
      font-family: Arial, sans-serif;
      font-size: 16px;
      font-weight: 900;
      line-height: 1.71;
      letter-spacing: 2px;
      color: #1b1b1b;
      margin: 0; }

.reforma-box .inner .reform-desc p {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      line-height: 1.5;
      color: #9b9b9b;
      margin: 12px 0 0; }

.reforma-box .select-plan {
    text-align: center;
    margin-top: 36px; }

.reforma-box .select-plan button {
      border-radius: 6px;
      background-color: #40be65;
      border: none;
      color: #ffffff;
      outline: none;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      padding: 13px 52px; }

.reforma-box .select-plan button:active {
        background-color: #3e8e41;
        -webkit-transform: translateY(1px);
                transform: translateY(1px); }

.reforma-box .select-plan button:hover {
        background-color: #3e8e41; }
