#app {
  text-align: center;
}

#header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

#title {
  margin-top: 0;
  font-size: 1.5em;
}

#links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#links li.current a {
  color: #fff;
  font-weight: bold;
}

#links li a {
  padding: 10px;
  color: lightgray;
  text-decoration: none;
}

#links li a:hover {
  color: white;
}

#content {
  margin-top: 20px;
}
