body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Lucida Grande';
  src: url('./fonts/LucidaGrande.woff2') format('woff2'),
  url('./fonts/LucidaGrande.woff') format('woff'),
  url('./fonts/LucidaGrande.ttf') format('truetype'),
  url('./fonts/LucidaGrande.svg#LucidaGrande') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lucida Grande';
  src: url('./fonts/LucidaGrande-Bold.woff2') format('woff2'),
  url('./fonts/LucidaGrande-Bold.woff') format('woff'),
  url('./fonts/LucidaGrande-Bold.ttf') format('truetype'),
  url('./fonts/LucidaGrande-Bold.svg#LucidaGrande-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


