body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('./fonts/LucidaGrande.eot');
    src: url('./fonts/LucidaGrande.eot?#iefix') format('embedded-opentype'),
    url('./fonts/LucidaGrande.woff2') format('woff2'),
    url('./fonts/LucidaGrande.woff') format('woff'),
    url('./fonts/LucidaGrande.ttf') format('truetype'),
    url('./fonts/LucidaGrande.svg#LucidaGrande') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('./fonts/LucidaGrande-Bold.eot');
    src: url('./fonts/LucidaGrande-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/LucidaGrande-Bold.woff2') format('woff2'),
    url('./fonts/LucidaGrande-Bold.woff') format('woff'),
    url('./fonts/LucidaGrande-Bold.ttf') format('truetype'),
    url('./fonts/LucidaGrande-Bold.svg#LucidaGrande-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

#app {
    text-align: center;
}

#header {
    background-color: #222;
    height: auto;
    padding: 20px;
    color: white;
}

#title {
    margin-top: 0;
    font-size: 1.5em;
}

#links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#links li.current a {
    color: #fff;
    font-weight: bold;
}

#links li a {
    padding: 10px;
    color: lightgray;
    text-decoration: none;
}

#links li a:hover {
    color: white;
}

#content {
    margin-top: 20px;
}
