body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

@font-face {
  font-family: 'Lucida Grande';
  src: url("./fonts/LucidaGrande.eot");
  src: url("./fonts/LucidaGrande.eot?#iefix") format("embedded-opentype"), url("./fonts/LucidaGrande.woff2") format("woff2"), url("./fonts/LucidaGrande.woff") format("woff"), url("./fonts/LucidaGrande.ttf") format("truetype"), url("./fonts/LucidaGrande.svg#LucidaGrande") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lucida Grande';
  src: url("./fonts/LucidaGrande-Bold.eot");
  src: url("./fonts/LucidaGrande-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/LucidaGrande-Bold.woff2") format("woff2"), url("./fonts/LucidaGrande-Bold.woff") format("woff"), url("./fonts/LucidaGrande-Bold.ttf") format("truetype"), url("./fonts/LucidaGrande-Bold.svg#LucidaGrande-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; }
    .header .top .container {
      max-width: 1680px;
      margin: 0 auto;
      padding: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header .top .container .logo {
        width: 9%; }
        .header .top .container .logo img {
          width: 107px; }
      .header .top .container .menu {
        width: 61%; }
        @media (max-width: 1000px) {
          .header .top .container .menu {
            width: 90%; } }
        .header .top .container .menu ul {
          display: flex;
          align-items: center;
          box-sizing: border-box;
          justify-content: flex-end;
          list-style: none;
          margin: 0;
          padding: 0; }
          .header .top .container .menu ul .menu-item:not(:last-child) {
            margin-right: 64px; }
          .header .top .container .menu ul .menu-item a {
            color: #fff;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal; }
      .header .top .container .menu-placeholder {
        width: 30%; }
        @media (max-width: 1000px) {
          .header .top .container .menu-placeholder {
            width: 0; } }
  .header .background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.75; }
    .header .background img {
      position: absolute;
      width: 100%;
      height: 105%;
      top: 0;
      left: 0;
      object-fit: cover; }
  .header .inner {
    position: relative;
    width: 69vw;
    max-width: 1000px;
    margin: 0 auto 50px;
    padding: 0 24px;
    box-sizing: border-box;
    z-index: 1;
    color: #fff;
    text-align: center; }
    .header .inner h4 {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.31;
      letter-spacing: 2px; }
    .header .inner h1 {
      font-family: 'Lucida Grande', sans-serif;
      font-size: 72px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: -1px; }
    .header .inner h3 {
      font-family: 'Roboto', sans-serif;
      opacity: 0.8;
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.55;
      letter-spacing: -0.2px;
      max-width: 600px;
      margin: 0 auto; }
